table.studentsTable {
  background-color: none;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table.studentsTable tr td:first-child {
  width: 50px;
}

table.studentsTable td, table.studentsTable th {
  padding: 5px 10px;
}
table.studentsTable tbody td, table.studentsTable tbody td a {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
}

table.studentsTable tbody td a:hover {
  color: #99ccff;
}

table.studentsTable tr:nth-child(even) {
  background: #036fab;
}
table.studentsTable thead {
  background: #036fab;
  border-bottom: 10px solid #036fab;
}
table.studentsTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #036fab;
}
table.studentsTable thead th:first-child {
  border-left: none;
}

table.studentsTable tfoot td {
  font-size: 13px;
}